.title{
    color:rgb(255, 0, 157);
    font-size: 1.em;
    margin:0;
}

.card{
    background-color: aqua;
    border-radius: 8px;
    padding: 16px;
    margin:10px;
    max-width:50px;
}

.id{
    color:rgb(9, 133, 91);
    font-size: 10px;
    margin:0;
}

.card:hover{
    background-color: blue;
}
    